<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="Cool Brian Chat">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/anchorme.min.js"></script>
    <script src="/javascripts/chatroom.js"></script>
</head>

<body>
    <ul id="chatlog" class="chatlog"></ul>
    <form action="" class="inputform">
        <input id="message" class="msg" autocomplete="off" />
        <label id="fileInputLabel" class="fileContainer">
            <p id="fileInputText">Upload Image</p>
            <input id="fileInput" class="img" type="file" accept="image/*" />
        </label>
        <button id="send" class="send">Send</button>
    </form>
    <div id="name" class="name"></div>
    <nav>
        <a href="/">Return to homepage</a>
    </nav>
</body>

</html>