<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="Cool Brian Site">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Brian Game has arrived at long last. Enjoy!</p>
    <nav>
      <a href="/">Return to homepage</a>
    </nav>
  </body>
</html>
