<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="Cool Brian Site">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GFS Fan Site</h1>
    <p>Welcome to the GFS Fan Site by Thomas Shaw</p>
    <nav>
      <a href="/game/">Go to Brian Game</a> <br>
      <a href="/chat/">Go to Brian Chat</a><br>
      <a href="/jeremychat/">Say hi to Jerem</a>
    </nav>
  </body>
</html>
