@font-face {
  font-family: "Minecraftia";
  src: url("/stylesheets/fonts/Minecraftia.ttf");
}

body {
  font: 14px "Minecraftia", sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

.chatlog {
  height: 60vh;
  overflow-y: scroll;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

.chatlog li {
  list-style-type: none;
  border-bottom: 1px solid gray;
  padding: 5px 0 5px 10px;
}

.chatlog h2,
p {
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 14px;
}

.chatlog img {
  height: 300px;
  width: auto;
}

.chatlog h2 {
  margin-right: 5px;
}

.chatlog li:last-child {
  border-bottom: none;
}

.msg, .send {
  font-family: inherit;
}

.msg {
  flex-grow: 1;
}

.send {
  border: none;
  background-color: black;
  color: white;
}

.inputform {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 700px) {
  body {
    padding: 50px;
  }
}